body,html{
margin: 0;
padding: 0;
padding-top: 5px;
height: 100%;
width: 100%;
background: linear-gradient(to bottom left, #52f2d8, #2b71fc);
position: relative;
}
input{
padding: 5px;
color: #303e47;
font-weight: 500;
border-radius: 5px;
}
.logo{
width: 80px;
height:80px;
position: absolute;
cursor: pointer;
}
.main-container{
display: flex;
align-items: center;
justify-content: center;

}
.form-container{
position: relative;
display: flex;
padding: 10px;
color: #303e47;
box-shadow: 25px 25px 2px 1px rgba(0, 0, 255, .2);
background: #c7e7fc;
border-radius: 10px;
width: 400px;
justify-content: center;
align-items: center;
flex-direction: column;
}
.form-container form{
margin-top: 20px;
width: 271px;
}
.div-container{
display: flex;
justify-content: start;
width: 271px;
margin: 0;
}
.ul-container{
display: flex;
flex-direction: column;
}
.ul-container a{
color: #303e47;
text-decoration: none;
}
.ul-container a:hover{
color: #2b71fc;
text-decoration: underline;
}
.title{
display: flex;
width: 100%;
border-bottom: 3px solid #303e47;
justify-content: center;
font-size: 30px;
font-weight: 550;
}
.login-button{
width: 100%;
border-radius: 5px;
background: rgba(0, 0, 255, .2);
height: 50px;
font-weight: 500;
border: none;
}
.login-button:hover{
color: white;
background: rgba(0, 0, 255, .6);
}
.footer {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: none;
        padding: 20px;
        font-size: .8em;
    }
.footer a{
color: black;
margin-left: 10px;
text-decoration: none;
}
.footer p{
 margin-left: 20px;
}