body{
    zoom: 125%;
    background:linear-gradient(to bottom left, #52f2d8, #2b71fc);
}
.container{
min-width: 800px;
min-height: 800px;

}

.profile-page .profile-header {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    border: 1px solid #f2f4f9;
}

.profile-page .profile-header .cover {
    position: relative;
    border-radius: .25rem .25rem 0 0;
}


.profile-page .profile-header .cover figure {
    margin-bottom: 0;
}





.profile-page .profile-header .cover figure img {
    border-radius: .25rem .25rem 0 0;
    width: 100%;
}





.profile-page .profile-header .cover .gray-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%);
}

.profile-page .profile-header .cover .cover-body {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 20px;
}

.profile-page .profile-header .cover .cover-body .profile-pic {
    border-radius: 50%;
    margin-left: 18px;
    width: 100px;
    height: 100px;
}



.profile-page .profile-header .cover .cover-body .profile-name {
    font-size: 20px;
    font-weight: 600;
    margin-left: 17px;
}

.profile-page .profile-header .header-links {
    padding: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #fff;
    border-radius: 0 0 .25rem .25rem;
}

.profile-page .profile-header .header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile-page .profile-header .header-links ul li a {
    color: #000;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-decoration: none;
    margin-left: 2px;
}
.profile-page .profile-header .header-links ul li{
    margin-left: 20px;
}

.profile-page .profile-header .header-links ul li:hover,
.profile-page .profile-header .header-links ul li.active {
    color: #727cf5;
}

.profile-page .profile-header .header-links ul li:hover a,
.profile-page .profile-header .header-links ul li.active a {
    color: #727cf5;
}

.profile-page .profile-body .left-wrapper .social-links a {
    width: 30px;
    height: 30px;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row {
    margin-right: 0;
    margin-left: 0;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row > div {
    padding-left: 3px;
    padding-right: 3px;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row > div figure {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 6px;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row > div figure:hover {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

.profile-page .profile-body .right-wrapper .latest-photos > .row > div figure img {
    border-radius: .25rem;
}

.rtl .profile-page .profile-header .cover .cover-body .profile-name {
    margin-left: 0;
    margin-right: 17px;
}
.img-xs {
    width: 37px;
    height: 37px;
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}

.card-header:first-child {
    border-radius: 0 0 0 0;
}
.card-header {
    padding: 0.875rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f2f4f9;
}

.card-footer:last-child {
    border-radius: 0 0 0 0;
}
.card-footer {
    padding: 0.875rem 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #f2f4f9;
}

.grid-margin {
    margin-bottom: 1rem;
}

.card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}
.rounded {
    border-radius: 0.25rem !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: 0.25rem;
}
.exit-btn{
text-decoration: none;
border: none;
color: #303e47;
border-radius: 5px;
padding: 10px;
padding-bottom: 12px;
background: rgba(0, 0, 255, .2);
}
.exit-btn:hover{
color: white;
background: rgba(0, 0, 255, .6);
}
.add-photo{
position: absolute;
bottom: 0;
left: 0;
}
.add-photo img{
width: 35px;
height: 35px;
}
.edit_profile-button{
width: 100%;
border-radius: 5px;
background: rgba(0, 0, 255, .2);
height: 50px;
font-weight: 500;
border: none;
color: #303e47;
}
.edit_profile-button:hover{
color: white;
background: rgba(0, 0, 255, .6);
}
.edit_profile-form{
width: 100%;
}
.form-label{
font-weight: 400;
}
.form-input{
width: 100%;
padding: 5px;
color: #303e47;
font-weight: 500;
border-radius: 5px;
}
.form-area{
padding: 5px;
color: #303e47;
font-weight: 500;
border-radius: 5px;
}
.save-btn:hover{
color: #40f71b;
}
.back-btn:hover{
color: black;
}
.status-span{
max-width: 505.45px;
padding-bottom: 15px;
}
.status-link{
text-decoration: none;
font-weight: 600;
color: black;
letter-spacing: 5px;
margin-left: 5px;
}
.dropdown-text{
margin-left: 10px;
}
#add_news{
height: 100px;
}
.link-hover a:hover,
.link-hovered:hover{
    color: #727cf5;
}
.delete-photo{
border: none;
position: absolute;
top: 0;
right:0;
background: none;
}
.ml{
margin-left: 10px;
}
.user-link{
text-decoration: none;
color: #212529;
}
.middle-wrapper::-webkit-scrollbar {
  width: 0.4em; /* Ширина полоски прокрутки */
}

.middle-wrapper::-webkit-scrollbar-track {
  background-color: #c7e7fc; /* Цвет фона полоски прокрутки */
  border-radius: 0.25em;
}

.middle-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, .3); /* Цвет полоски прокрутки */
  border-radius: 0.25em; /* Радиус скругления углов полоски прокрутки */
}

.middle-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет полоски прокрутки при наведении */
}
.scroll-div{
max-height: 350px;
overflow-y: auto;
}
.scroll-div::-webkit-scrollbar {
  width: 0.4em; /* Ширина полоски прокрутки */
}

.scroll-div::-webkit-scrollbar-track {
  background-color: #c7e7fc; /* Цвет фона полоски прокрутки */
  border-radius: 0.25em;
}

.scroll-div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, .3); /* Цвет полоски прокрутки */
  border-radius: 0.25em; /* Радиус скругления углов полоски прокрутки */
}

.scroll-div::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет полоски прокрутки при наведении */
}
nav{
position: fixed!important;
border-bottom: 1px solid rgba(0, 0, 255, .2);
top: 0;
z-index: 9999;
width: 100%;
height: 55px;
min-width: 1050px;
}
.nav-container{
display: flex;
align-items: center;
width: 70%;
}
.default-button{
border-radius: 5px;
background: rgba(0, 0, 255, .2);
height: 30px;
padding: 12px;
display: flex;
align-items: center;
font-size: .8em;
font-weight: 500;
border: none;
}
#search{
font-size: .8em;
}
.default-button:hover{
color: white;
background: rgba(0, 0, 255, .6);
}