.main-container{
height: 300px;
}
.back-button{
padding: 15px;
text-decoration: none;
width: 80%;
color: black;
border-radius: 5px;
font-weight: 500;
background: rgba(0, 0, 255, .2);
}
.back-button:hover{
color: white;
background: rgba(0, 0, 255, .6);
}