.d-none-user{

}
.d-none-user div{
display: none;
}
.d-none-user ul{
display: none!important ;
}
.d-none-button{
display: none!important;
}
.dropdown-d-none{
}
.dropdown-d-none #editProfileBtn{
display: none!important;
}