{% extends 'login_user/profile.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/css/user_profile.css' %}">
{% endblock %}
{% block create_news %}
<div class="row">
<!--                <div style="background: none;border-radius: 10px;" class="col-md-12 grid-margin ">-->
<!--                    <div style="" class="card rounded ">-->
<!--                        <div class="card-header">-->
<!--                            <div class="d-flex align-items-center justify-content-between">-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <img class="img-xs rounded-circle" src="{{main_user.avatar.url}}" alt="">-->
<!--                                    <div class="ml">-->
<!--                                        <a class="user-link" href="{% url 'profile' %}">-->
<!--                                            <p  style="margin-bottom: 0;">{{main_user.username}}</p>-->
<!--                                        </a>-->

<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="card-body">-->
<!--                            <form method="post">-->
<!--                                {% csrf_token %}-->
<!--                                {{news.as_p}}-->
<!--                                <button name="addNews" type="submit" class="edit_profile-button save-btn" style="width: 203px;">Опубликовать</button>-->
<!--                            </form>-->

<!--                        </div>-->
<!--                        <div class="card-footer">-->
<!--                            <div class="d-flex post-actions">-->


<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                 </div>-->
            </div>
{% endblock %}