{% extends 'template.html' %}
{% load static %}

{% block site_title %} Пароль изменен {% endblock %}

{% block title %} Восстановление пароля {% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/reset_password_done.css' %}">
{% endblock %}

{% block authorization_body %}
<div style="width: 80%;margin-top: 15px; display: flex;justify-content: center;">
    <p style="font-weight: 500">Ваш пароль успешно изменен</p>
</div>
    <a  href="/" style="width: 60%;" class="text-center back-button">Войти</a>


{% endblock %}}