{% extends 'template.html' %}
{% load static %}

{% block site_title %} Сброс пароля {% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/css/reset_password.css' %}">
{% endblock %}

{% block title %} Восстановление пароля {% endblock %}

{% block authorization_body %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="login-button" type="submit">Отправить</button>
  <p style="margin-top: 10px;">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
</form>


{% endblock %}}