{% extends 'template.html' %}
{% load static %}

{% block site_title %} Введите новый пароль {% endblock %}

{% block title %} Восстановление пароля {% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/reset_password_confirm.css' %}">
{% endblock %}

{% block authorization_body %}
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    {% if field.help_text %}
    {{field.label_tag}}
    <div style="display: flex; justify-content: center;">
        {{ field }}
        <img src="{% static 'main/img/help.png' %}" style="cursor: pointer;" title="{{field.help_text}}" alt="help">
    </div>
    {% else %}
    {{field.label_tag}}
    <div style="display: flex; justify-content: center;">
        {{ field }}
        <img src="{% static 'main/img/help.png' %}" style="cursor: pointer;" title="Повторите пароль" alt="help">
    </div>
    {% endif %}
    {% if field.errors %}
    <div style="max-width: 350px;">
        {{ field.errors }}
    </div>
    {% endif %}
    {% endfor %}
    <button style="margin-top: 25px;" class="login-button" type="submit">Отправить</button>
</form>


{% endblock %}}
