{% extends 'template.html' %}
{% load static %}

{% block site_title %} Сброс пароля {% endblock %}

{% block title %} Восстановление пароля {% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/reset_password_done.css' %}">
{% endblock %}

{% block authorization_body %}
<div style="width: 80%;margin-top: 15px;">
    <p style="font-weight: 500;">Письмо было отправлено на почту. Перейдите по ссылке и измените пароль</p>
</div>
    <a  href="/" class="text-center back-button">Вернуться</a>


{% endblock %}}